h1   #{title}
  form(action='/valid' method='POST')  
    |from: 
    input(type='text' name='from')
    br
    |to: 
    input(type='text' name='to')
    br  
    |trainName: 
    input(type='text' name='tname')    
    br
    |trainNumber: 
    input(type='Number' name='tnumber')
    br
    |numberof tickets: 
    input(type='Number' name='NoOftickets')
    br
    |Passenger Name: 
    input(type='text' name='name')    
    br
    |passenger age: 
    input(type='Number' name='age')     
    br
    |Date: 
    input(type='date' name='Date')    
    br
    |booker_UserID:
    input(type='text' name='bookerUserID')    
    br
    input(type='submit' value='Submit')
