h1= title
  p Welcome to #{title}

  ul
    li
      a(href="http://localhost:5000/trains") view trains
    li
     a(href="http://localhost:5000/train") add trains
    li
     a(href="http://localhost:7777/booking") create booking
    li
     a(href="http://localhost:7777/bookings") view bookings