h1= title
  p Welcome to #{title}

  ul
    li
      a(href="/trains") view trains
    li
     a(href="/train") add trains
    li
     a(href="/booking") create booking
    li
     a(href="/bookings") view bookings
